{% load i18n %}
{% if items %}
	{% if is_searching %}
		<h2>
		{% blocktrans count counter=items.paginator.count %}
			There is one match
		{% plural %}
			There are {{ counter }} matches
		{% endblocktrans %}
		</h2>
	{% endif %}

	{% include "wagtailnews/chooser/list.html" %}

	{% include "wagtailadmin/shared/pagination_nav.html" with items=items is_searching=is_searching linkurl=wagtailnews_chooser %}
{% else %}
	{% if is_searching %}
		 <p>{% blocktrans %}Sorry, no news items match "<em>{{ query_string }}</em>"{% endblocktrans %}</p>
	{% else %}
		{% url 'wagtailnews_create' pk=pk as wagtailnews_create_url %}
		<p class="no-results-message">{% blocktrans %}No {{ newsitem_type_name_plural }} have been created. Why not <a href="{{ wagtailnews_create_url }}">add one</a>?{% endblocktrans %}</p>
	{% endif %}
{% endif %}
